/Note-project-master/cmake-build-debug/.cmake/api/v1/query/cache-v2
/Note-project-master/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/Note-project-master/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/Note-project-master/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/cache-v2-2c105d52e0dd10b31657.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a6a079a59984a10a03ab.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-df0a0acc2b979964f1b6.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/directory-_deps.googletest-build.googlemock-Debug-220e45f44da86482925a.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/directory-_deps.googletest-build.googletest-Debug-49b00d6be1a78ae22f25.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/directory-_deps.googletest-build-Debug-ded26adebee9516e95c3.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/index-2025-01-08T16-39-37-0650.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/target-gmock-Debug-1827a1b1ea396dad09fc.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/target-gmock_main-Debug-4aa933fcbd2c4270bad2.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/target-gtest-Debug-113e40eedcfcb8fe32b2.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/target-gtest_main-Debug-b3577e415eaecfbb05c2.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/target-note-Debug-387b51d5062263c28186.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/target-note_lib-Debug-6487e9377291312011d8.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/target-note_tests-Debug-e9debbe6b81124aee2d8.json
/Note-project-master/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-56d96971b69f9fe26188.json
/Note-project-master/cmake-build-debug/_deps/googletest-build/CMakeFiles/CMakeDirectoryInformation.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/CMakeFiles/progress.marks
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/build.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/cmake_clean.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/cmake_clean_target.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/compiler_depend.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/compiler_depend.ts
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/depend.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/DependInfo.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/flags.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/includes_CXX.rsp
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/link.txt
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/progress.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/build.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/cmake_clean.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/cmake_clean_target.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/compiler_depend.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/compiler_depend.ts
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/depend.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/DependInfo.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/flags.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/includes_CXX.rsp
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/link.txt
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/progress.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/CMakeDirectoryInformation.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CMakeFiles/progress.marks
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/cmake_install.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/CTestTestfile.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googlemock/Makefile
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets-debug.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.obj
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.obj.d
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/build.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/cmake_clean.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/cmake_clean_target.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/compiler_depend.internal
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/compiler_depend.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/compiler_depend.ts
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/depend.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/DependInfo.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/flags.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/includes_CXX.rsp
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/link.txt
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/progress.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/src/gtest_main.cc.obj
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/src/gtest_main.cc.obj.d
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/build.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/cmake_clean.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/cmake_clean_target.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/compiler_depend.internal
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/compiler_depend.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/compiler_depend.ts
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/depend.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/DependInfo.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/flags.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/includes_CXX.rsp
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/link.txt
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/progress.make
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CMakeFiles/progress.marks
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/generated/gmock.pc
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/generated/gmock_main.pc
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/generated/gtest.pc
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/generated/gtest_main.pc
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/generated/GTestConfig.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/generated/GTestConfigVersion.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/cmake_install.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/CTestTestfile.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/googletest/Makefile
/Note-project-master/cmake-build-debug/_deps/googletest-build/cmake_install.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/CTestTestfile.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-build/Makefile
/Note-project-master/cmake-build-debug/_deps/googletest-src/
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/3.29.6/CMakeSystem.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/build.make
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/cmake_clean.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/compiler_depend.make
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/compiler_depend.ts
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/DependInfo.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/Labels.json
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/Labels.txt
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/progress.make
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/cmake.check_cache
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/CMakeConfigureLog.yaml
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/CMakeDirectoryInformation.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/CMakeRuleHashes.txt
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/googletest-populate-complete
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/Makefile.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/Makefile2
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/progress.marks
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeFiles/TargetDirectories.txt
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-build
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-configure
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-done
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-download
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-gitclone-lastrun.txt
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-gitinfo.txt
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-install
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-mkdir
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-patch
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-patch-info.txt
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-test
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-update-info.txt
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-cfgcmd.txt
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-gitclone.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-gitupdate.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-mkdirs.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/cmake_install.cmake
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeCache.txt
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/CMakeLists.txt
/Note-project-master/cmake-build-debug/_deps/googletest-subbuild/Makefile
/Note-project-master/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/a.exe
/Note-project-master/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/Note-project-master/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/a.exe
/Note-project-master/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/Note-project-master/cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/Note-project-master/cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
/Note-project-master/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/Note-project-master/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
/Note-project-master/cmake-build-debug/CMakeFiles/3.29.6/CMakeRCCompiler.cmake
/Note-project-master/cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/build.make
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/cmake_clean.cmake
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/compiler_depend.internal
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/compiler_depend.make
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/compiler_depend.ts
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/depend.make
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/DependInfo.cmake
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/flags.make
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/link.txt
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/linkLibs.rsp
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/main.cpp.obj
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/main.cpp.obj.d
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/objects.a
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/objects1.rsp
/Note-project-master/cmake-build-debug/CMakeFiles/note.dir/progress.make
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/build.make
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/cmake_clean.cmake
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/cmake_clean_target.cmake
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/Collection.cpp.obj
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/Collection.cpp.obj.d
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/compiler_depend.internal
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/compiler_depend.make
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/compiler_depend.ts
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/ConcreteObserver.cpp.obj
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/ConcreteObserver.cpp.obj.d
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/depend.make
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/DependInfo.cmake
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/flags.make
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/link.txt
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/Note.cpp.obj
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/Note.cpp.obj.d
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/Observer.cpp.obj
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/Observer.cpp.obj.d
/Note-project-master/cmake-build-debug/CMakeFiles/note_lib.dir/progress.make
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/test/CollectionTest.cpp.obj
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/test/CollectionTest.cpp.obj.d
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/test/NoteTest.cpp.obj
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/test/NoteTest.cpp.obj.d
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/test/runAllTests.cpp.obj
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/test/runAllTests.cpp.obj.d
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/build.make
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/cmake_clean.cmake
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/compiler_depend.internal
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/compiler_depend.make
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/compiler_depend.ts
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/depend.make
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/DependInfo.cmake
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/flags.make
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/includes_CXX.rsp
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/link.txt
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/linkLibs.rsp
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/objects.a
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/objects1.rsp
/Note-project-master/cmake-build-debug/CMakeFiles/note_tests.dir/progress.make
/Note-project-master/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/Note-project-master/cmake-build-debug/CMakeFiles/clion-environment.txt
/Note-project-master/cmake-build-debug/CMakeFiles/cmake.check_cache
/Note-project-master/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/Note-project-master/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/Note-project-master/cmake-build-debug/CMakeFiles/Makefile.cmake
/Note-project-master/cmake-build-debug/CMakeFiles/Makefile2
/Note-project-master/cmake-build-debug/CMakeFiles/progress.marks
/Note-project-master/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/Note-project-master/cmake-build-debug/lib/libgtest.a
/Note-project-master/cmake-build-debug/lib/libgtest_main.a
/Note-project-master/cmake-build-debug/Testing/Temporary/LastTest.log
/Note-project-master/cmake-build-debug/cmake_install.cmake
/Note-project-master/cmake-build-debug/CMakeCache.txt
/Note-project-master/cmake-build-debug/CTestTestfile.cmake
/Note-project-master/cmake-build-debug/libnote_lib.a
/Note-project-master/cmake-build-debug/Makefile
/Note-project-master/cmake-build-debug/note.exe
/Note-project-master/cmake-build-debug/note_tests.exe
/Note-project-master/cmake-build-debug/note_tests[1]_include.cmake
/Note-project-master/cmake-build-debug/note_tests[1]_tests.cmake
